/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #000;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-img {
  height: 24px;
  width: 24px;
  object-fit: contain;
}

.logo {
  font-weight: 800;
}

.navbar a {
  color: #888;
  margin-left: 25px;
  text-decoration: none;
}

.navbar a.active,
.navbar a:hover {
  color: #ff2a00;
}

.navbar a.active {
  color: #ff2a00;
  position: relative;
}

.navbar a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #ff2a00;
  border-radius: 2px;
}
.navbar a::after {
  transition: 0.2s ease;
}

/* HERO */
.about-hero {
  height: 60vh;
  background: url("https://i.pinimg.com/736x/b9/54/aa/b954aa0697d3ad62f2e6f01653303bcf.jpg") center/cover;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9));
}

.hero-content {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.tag {
  border: 1px solid #ff2a00;
  padding: 6px 12px;
  color: #ff2a00;
  display: inline-block;
  margin-bottom: 15px;
}

.hero-content h1 {
  font-size: 64px;
  font-weight: 900;
}

.hero-content p {
  color: #aaa;
}

/* WHO */
.who {
  display: flex;
  gap: 60px;
  padding: 80px;
}

.who-text {
  flex: 1;
}

.who-text h2 {
  color: #ff2a00;
  margin-bottom: 20px;
}

.who-text p {
  color: #bbb;
  margin-bottom: 15px;
  line-height: 1.7;
}

.who-image {
  flex: 1;
  text-align: center;
}

.who-image img {
  width: 100%;
  border-radius: 10px;
  filter: grayscale(100%);
}

.caption {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #888;
}

/* APPROACH */
.approach {
  padding: 80px;
  text-align: center;
}

.approach h2 {
  margin-bottom: 40px;
}

.approach-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.approach-card {
  background: #0d0d0d;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid rgba(255,42,0,0.2);
}

.approach-card h3 {
  color: #ff2a00;
  margin-bottom: 10px;
}

.approach-card p {
  color: #bbb;
  font-size: 14px;
}

/* VALUES */
.values {
  padding: 80px;
  text-align: center;
}

.values-box {
  border: 1px solid rgba(255,42,0,0.3);
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

.value h4 {
  margin-top: 10px;
}

.value p {
  color: #aaa;
  font-size: 13px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #ff2a00;
  border-radius: 50%;
  margin: auto;
}

/* FOOTER */
footer {
  background: #0d0d0d;
  padding: 40px 60px 20px;
  border-top: 1px solid #111;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 25px;
}

.footer-container h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-container h4 {
  font-size: 13px;
  margin-bottom: 8px;
  color: #ccc;
}

.footer-container a {
  font-size: 12px;
  color: #888;
  margin: 4px 0;
  text-decoration: none;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.08);
  padding-top: 65px;
  margin-bottom: 55px;

  text-align: center;
  font-size: 14px;
  color: #666;
}